*{
    margin: 0;
    padding: 0;
    font-family: sans-serifS;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    background-position: center;
    background-size: cover;
    position: absolute;

}
.nav{
    display: flex;
    padding: 2% 6% ;
    justify-content: left;
    justify-items: left;
    align-items: center;

}.nav img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: center;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 1px 27px;
    position: relative;

}
.nav-links ul li a{
    color: rgba(218, 73, 73, 0.943);
    text-decoration: yellow;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 100%;
    height: 3px;
    background: greenyellow;

}
.nav-links ul li a:hover::after{
background-color: aqua;
color: blue;

}
.btn{
    width: 100px;
    border-radius: 0%;
    border-color: coral;
}
.txt-btn{
    text-decoration: rgb(33, 12, 5);
    border: none;
    border-color: wheat;
}
.txtbtn{
    text-decoration: blueviolet;
    border-radius: 100;
    border-color: chocolate;
}
.text-box{
    width: 50%;
    color: black;
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-25%,-75%);
    text-align: left;
}
.text-box hi{
    font-size: 20px;
    color: blueviolet;

}
.text-box p{
    font-size: 20px;
    color: blueviolet;
}
@media(max-width:700px){
    .text-box hi{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}
.image{
    width: 10px;
    margin: 25% 10% ;
    top: 0;
    left: 0;
}
.image.img_1{
    width: 100%;
    top: 0;
}
.paragraph{
    width: -17%;
    margin: auto;
    text-align: center;
    padding-top: 100px; 
    border-radius: 0%;
    content-visibility:2px ;
}
.image-2{
    width: 10px;
    margin: 25% 10% ;
    top: 0;
    left: 0;
}
.image-2.img_2{
    width: 100%;
    top: 0;
}
